<table>
    <tr class="header-row">
        <th (click)="sort('name')" class="sortable">Name</th>
        <th (click)="sort('type')" class="sortable">Type</th>
        <!-- Extra on My Own: I modified remaining headings below per above to also be clickable/sortable. -->
        <th (click)="sort('operational')" class="sortable">Operational</th>
        <th (click)="sort('orbitType')" class="sortable">Orbit Type</th>
        <th (click)="sort('launchDate')" class="sortable">Launch Date</th>
    </tr>
    <tr class="data-row" *ngFor="let satellite of satellites">
        <td>{{satellite.name}}</td>
        <td [class.warning]="satellite.isSpaceDebris()">{{satellite.type}}</td>
        <td>{{satellite.operational}}</td>
        <td>{{satellite.orbitType}}</td>
        <td>{{satellite.launchDate}}</td>
    </tr>
</table>

<!-- TODO 2b: use *ngFor to display satellite data in the table -->
<!-- Note to Self: I added the *ngFor into the .date-row class <tr> tag above. 
    Then I replaced the following <td> lines with {{placeholders}}. -->

<!-- TODO 3b: add style directive to conditionally highlight satellite type -->
<!-- Note to Self: After reading Chaper 31, I added the [class.warning]="satellite.isSpaceDebris()"
    to the satellite.type <td> above in order to trigger the highlight by referencing the .warning class
    in CSS file and isSpaceDebris() method in the Satellite class on satellite.ts file. -->
